<!DOCTYPE HTML>
<html>
<head>
    <title>모바일 신분증 서비스</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<h1>사진넣기</h1>
<div class="g-fileUpload-form-group">
    <label class="g-fileUpload-label"
        {{#id}}
            for="{{id}}"
        {{/id}}>

        Upload a file

    </label>

    <input
            class="g-file-upload"
        {{#id}}
            id="{{id}}"
        {{/id}}
        {{#name}}
            name="{{name}}"
        {{/name}}
            type="file"
        {{#disabled}}
            disabled="{{#disabled}}disabled{{/disabled}}"
        {{/disabled}}
        {{#readOnly}}
            readonly="{{#readOnly}}readOnly{{/readOnly}}"
        {{/readOnly}}
        {{#autoFocus}}
            autofocus="{{#autoFocus}}autoFocus{{/autoFocus}}"
        {{/autoFocus}}
    />


</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdn.rawgit.com/ethereum/web3.js/develop/dist/web3.js"></script>

<!--index.js 추가-->
<script src="/js/app/index.js"></script>
</body>
</html>